/* CSS Reset */
html {
    box-sizing: border-box;
    font-size: 16px;
}
  
  *, *:before, *:after {
  box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Global Styling */

body {
  background-image: url('/images/main-background.png'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling/repeating of the image */
}

@font-face {
  font-family: 'night-pumpkind';
  src: url('/fonts/night-pumpkind.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.v-popper__popper {
  font-family: 'League Spartan', sans-serif;
}
